@import "./../variables";

.add-button {
  height: 2rem;
  width: 2rem;
  color: $primary;
  float: right;

  &:hover {
    cursor: pointer;
  }
  svg.svg-inline--fa {
    height: 100%;
    width: 100%;
  }
}
